.about-container{
  margin: 0 auto 7vh;
  display: flex;
  height: 600px;
  width: 100%;
  max-width: 1200px;
}

.map{
  position: relative;
  max-width: 50%;
  overflow: hidden;
  box-shadow: 0 15px 30px -10px #818181;
  transform: scale(1);
  transition: .3s;
}

.map:hover{
  transform: scale(1.05);
}

.about{
  display: flex;
  flex-direction: column;
  width: 50%;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
}

.about span, h2{
  margin: 3px;
}

.map-image{
  background-image: url('../images/mapa.png');
  background-position: center;
  width: 600px;
  height: 600px;
}

.map-image__hover{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  transition: .3s;
  cursor: pointer;
}

.map-image__hover:hover{
  background-color: rgba(0, 0, 0, .8);
}

.map-image__hover:hover .hover-info{
  opacity: 1;
}

.icon{
  font-size: 50px;
  color: rgb(41,84,108);
  text-align: center;
}

.hover-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .3s;
  text-align: center;
}

.hover-info span{
  display: block;
  font-size: 20px;
  color: white;
}