.doctor-panel{
  padding-top: 10vh;
  min-height: 100vh;
  display: flex;
}

.doctor-panel a{
  border: 2px solid rgb(41,84,108);
  border-radius: 10px;
}

.doctor-panel a:hover{
  background-color: rgb(41,84,108) ;
  color: white;
}

.cards{
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link{
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}