.doctors{
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav{
  height: 10vh;
  width: 100%;
}

.doctor{
  flex-basis: 30%;
  padding-top: 10vh;
  min-height: 300px;
}
.doctor span {
  display: block;
}