.doctors{
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav{
  height: 10vh;
  width: 100%;
}

.doctor{
  flex-basis: 30%;
  padding-top: 10vh;
  min-height: 300px;
}
.doctor span {
  display: block;
}

.doctors .panel{
  display: flex;
  margin-top: 10vh;
  height: 10vh;
  align-self: flex-start;
  justify-items: center;
}

.doctors .panel a{
  display: inline-block;
  margin: 20px;
  height: 50px;
  width: 180px;
  font-size: 20px;
  background-color: white;
  border: 2px solid rgb(41,84,108);
  border-radius: 10px;
  transition: .2s;
  cursor: pointer;
}

.doctors .panel a:hover{
  background-color: rgb(41,84,108);
  color: white;
}