footer{
  width: 100%;
  height: 40px;
  background-color: rgb(41,84,108);
}

footer span{
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}