header{
  height: 100vh;
}
.image{
  background-image: url('../images/main-header.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100vh;
}

header div span{
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  line-height: 3em;
  text-align: center;
}

h1{
  font-size: 25px;
  color: rgb(41,84,108);
}

h2{
  font-size: 18px;
}

