nav{
  position: fixed;
  display: flex;
  width: 100vw;
  min-height: 50px;
  height: 10vh;
  box-shadow: 0 1px 4px 0px #ddd;
  background-color: white;
  z-index: 2;
}

ul{
  display: flex;
  flex-grow: 1;
  padding-right: 15vw;
  justify-content: flex-end;
  background-color: white;
}

li{
  display: flex;
  align-items: center;
}

a{
  display: block;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  transition: .2s;
  cursor: pointer;
}

a:hover{
  border-color: rgb(41,84,108);
}

li:nth-child(4) a,
li:nth-child(3) a {
  border: 2px solid rgb(41,84,108);
  border-radius: 10px;
}

li:nth-child(4) a:hover,
li:nth-child(3) a:hover{
  background-color: rgb(41,84,108) ;
  color: white;
}

.medical-logo{
  position: absolute;
  display: flex;
  align-items: center;
  width: 270px;
  border: none;
  text-align: left;
  height: 10vh;
  margin: 0 0 0 15vw;
}

.medical-logo img {
  position: relative;
  height: 90px;
}

.medical-logo span{
  font-size: 30px;
}

