.patient-visits-container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient-visits{
  padding-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}