.register-wrap{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register h1{
  padding-top: 70px;
  text-align: center;
}

.register h2{
  margin-bottom: 40px;
}

.register .button{
  margin-top: 40px;
  text-align: center;
}

.register .button a{
  display: inline-block;
  margin: 20px;
  height: 50px;
  width: 130px;
  font-size: 20px;
  background-color: white;
  border: 2px solid rgb(41,84,108);
  border-radius: 10px;
  transition: .2s;
  cursor: pointer;
}

.register .button a:hover{
  background-color: rgb(41,84,108);
  color: white;
}